---
title: "Anasayfa"
layout: default
pagination:
    enabled: true
description: "Çocuklara Okumayı Sevdiren Yayınevi..."
---


<div class="container">
    
{% if page.url == "/" %}
  

<!-- slider -->
{% include slider.html %}


<link rel="stylesheet" href="/assets/css/custom.css">
    <div class="container d-none">
        <div class="row">
            <div class="col-12 onlineSinav">
                <h1 class="OnlineBaslik">Online Sınav Platformu</h1>
                <a href="https://e-damla.com.tr/site/login" target="_blank">
                    <button type="button" class="btn btn-danger btn-lg UyeOlButon"><h4> Üye Ol </h4></button>
                </a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 20px;" >
        <div class="row">
            <div class="col-6 col-sm-4 p-3">
                <div class="card">
                    <img class="card-img-top" src="assets/images/avatar/ana-fikir.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Konu Ana Fikir</h5>
                        <p class="card-text">Olayın konusu, yazarın bakış açısı, Yazarın vermek istediği mesajın alınıp alınmadığı.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 p-3">
                <div class="card">
                    <img class="card-img-top" src="assets/images/avatar/olay-orgu.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Olay Örgüsü</h5>
                        <p class="card-text">Olayların sebep sonuç ilişkileri, olay akışı, gerçek ve hayali ögeler.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 p-3">
                <div class="card">
                    <img class="card-img-top" src="assets/images/avatar/sahis-varlik.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Şahıs Varlık Kadrosu</h5>
                        <p class="card-text">Olayın kahramanları, onların rolleri, özellikleri, onların geliştirdiği stratejiler.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 p-3">
                <div class="card">
                    <img class="card-img-top" src="assets/images/avatar/zaman-mekan.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Zaman Mekan</h5>
                        <p class="card-text">Olayın zaman – mekân özellikleri, tarihi olayları değerlendirebilme.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 p-3">
                <div class="card">
                    <img class="card-img-top" src="assets/images/avatar/dil-anlatim.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dil ve Anlatım</h5>
                        <p class="card-text">Hikâyenin dil ve anlatım özellikleri, hikâyenin türü vb. durumlar olması gerektiği gibi ölçebilme.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h4 class="font-weight-bold spanborder"><span>Öne Çıkanlar</span></h4>
{% assign bookarray = "" | split: ',' %}
{% assign sortedarray = "" | split: ',' %}

{% assign sortedarray = site.books | sort: "publish-number" | reverse %}

{% for book in sortedarray limit:10 %}
    {% assign bookarray = bookarray | push: book %}
{% endfor %}

{% assign books = bookarray %}
{% include product-slider.html %}

<!-- {% assign books = site.books %}
{% include product-slider.html %}
   
<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
{% for post in site.posts %} 
{% if post.sticky %}
<div  class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-5 pb-5 pr-lg-4 align-self-center">
                <h1 class="mb-3">{{post.title}}</h1>
                <p class="mb-3 lead">
                    <!-- {{ post.excerpt | strip_html | strip_newlines | truncate: 146 }} -->
                    {{ post.excerpt | strip_html | strip_newlines }}
                </p>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">Devamını oku</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;">
                <img src="{{site.baseurl}}{{post.image}}" alt="">	
            </div>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %}



{% endif %} <!--endif page url is / -->



</div>