.onlineSinav{
    background-color: #009fd5;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    max-height: 30vh;
}
.UyeOlButon{
    padding-left: 5vh;
    padding-right: 5vh;
    margin-bottom: 1.5vh;
    font-style: bold;
}
.OnlineBaslik{
    color: white;
    margin-top: 1vh;
}

/* .tns-outer{
    min-height: 150px;
}
.tns-inner{
    min-height: 150px;
} */
#product-slider-mw{
    min-height: 17vh !important;
}